<div class="content-panel">
    <div class="vertical-tabs">
        <a href="{{ path('system_index') }}" class="{{ app.request.attributes.get('_route') == 'system_index' ? 'active' : '' }}">
            Health check
        </a>
        <a href="{{ path('system_details') }}" class="{{ app.request.attributes.get('_route') == 'system_details' ? 'active' : '' }}">
            View all
        </a>
        <a  href="{{ path('system_network') }}" class="{{ app.request.attributes.get('_route') == 'system_network' ? 'active' : '' }}">
            Network
        </a>
    </div>
</div>