<dialog id="dialog-{{ check.label }}">
    <div class="container">
        <div class="modal-info" id="cookiesPopup">
            <button class="close" data-dialog-close="dialog-{{ check.label }}">✖</button>
            {% if asset_exists(check.icon) %}
                <img src="{{ asset('bundles/systemcheck/images/icon/' ~ check.icon) }}"  alt="{{ check.icon }}" />
            {% else %}
                <img src="{{ check.icon }}"  alt="{{ check.icon }}" />
            {% endif %}
            <h3>{{ check.label }}</h3>
            {% if check.description is not null and check.description|length > 0 %}
                <p><b>Priority "{{ check.priority }}": </b>{{ check.description }}</p>
            {% endif %}
            <p><b>Report ({{ check.result.name }}):</b> {{ check.result.message }}</p>
            <table class="content-table">
                <thead>
                <tr>
                    <th>Operation</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                {% for eav in check.result.eav %}
                <tr>
                    <td>{{ eav.label }}</td>
                    <td>{{ eav.value }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <button class="{{ check.result.isSuccess ? 'success' : 'failed' }}" data-dialog-close="dialog-{{ check.label }}">
                {{ check.result.isSuccess ? 'That\'s fine!' : 'Ooops, K.O!' }}
            </button>
        </div>
    </div>
</dialog>